@import url("/styles/base.css");
@import url("/styles/form.css");
@import url("/styles/snackbar.css");

body,
html {
  color: var(--color-text);
  min-height: 100dvh;
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100dvh;
  width: min(80%, 500px);

  .main-container__title {
    margin-bottom: var(--space-sm);
  }

  .form {
    height: 70%;
    padding-bottom: var(--space-lg);
  }
}

/*--------------------*/
/*       QUERY        */
/*--------------------*/

@media screen and (width >= 799px) {
  .snackbar {
    top: 15px;
  }
}
