@import url("/styles/base.css");
@import url("/styles/header.css");
@import url("/styles/navbar.css");
@import url("/styles/snackbar.css");

body {
  color: var(--color-text);
}

.header {
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

/*********************/
/*       MENUS       */
/*********************/

.main {
  display: grid;
  margin-top: 3.15rem;
  min-height: calc(100dvh - 50px);
  padding: var(--space-md) 0;
  place-items: center center;

  .menu-item {
    background-color: var(--color-bg-light);
    border-radius: var(--radius-md);
    box-shadow: 2px 2px 20px #0000000d;
    width: min(80%, 680px);

    .menu-item__header {
      border-bottom: 1px solid var(--color-text-muted);
      display: flex;
      flex-direction: column;
      padding-bottom: var(--space-sm);

      .menu-item__price {
        background-color: var(--color-primary);
        border-radius: var(--radius-lg);
        bottom: 15px;
        color: #fff;
        font-size: var(--font-sm);
        font-weight: bold;
        padding: var(--space-xs);
        position: absolute;
        right: 15px;
      }

      .menu-item__img-container {
        margin-bottom: var(--space-sm);
        position: relative;

        img {
          border-radius: var(--radius-md) var(--radius-md) 0 0;
          height: 150px;
          object-fit: cover;
          width: 100%;
        }
      }

      .menu-item__info {
        padding: 0 var(--space-sm);

        .menu-item__name-type {
          align-items: center;
          display: flex;
          gap: var(--space-sm);
          margin-bottom: var(--space-2xs);

          .menu-item__type {
            background-color: var(--color-primary);
            border-radius: var(--radius-sm);
            color: #fff;
            font-size: var(--font-xs);
            font-weight: bold;
            padding: var(--space-2xs) var(--space-xs);
          }
        }

        .menu-item__description {
          line-height: 1.25;
          max-height: 4rem;
          overflow: hidden;
          position: relative;
          transition: max-height 50ms ease-in-out;
        }

        .description-hider {
          background: linear-gradient(
            to top,
            var(--color-bg-light),
            transparent
          );
          bottom: 0;
          height: 1.5rem;
          left: 0;
          position: absolute;
          right: 0;
        }

        .description-hider--hidden {
          display: none;
        }

        .menu-item__description-btn {
          background: none;
          color: var(--color-primary);
          font-size: var(--font-sm);
          margin-top: 0.2rem;
          text-decoration: underline;

          &:hover {
            color: var(--color-primary-dark);
          }
        }
      }

      &.menu-item__header--no-img {
        padding-top: var(--space-sm);
      }
    }

    .menu-item__body {
      display: flex;
      flex-direction: column;
      padding: var(--space-sm);

      .menu-item__ingredients {
        margin-bottom: var(--space-sm);

        h3 {
          margin-bottom: var(--space-xs);
        }

        ul {
          display: flex;
          flex-flow: wrap;
          font-size: var(--font-sm);
          gap: var(--space-xs);

          .menu-item__ingredient {
            background: var(--color-bg-dark);
            border: 1px solid var(--color-text-muted);
            border-radius: var(--radius-xl);
            color: var(--color-text);
            font-size: var(--font-sm);
            padding: var(--space-xs) var(--space-sm);
          }
        }
      }

      .menu-item__select-waiting {
        align-items: center;
        background: var(--color-bg-dark);
        border-radius: var(--radius-md);
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        justify-content: space-between;
        margin-bottom: var(--space-sm);
        padding: var(--space-xs-sm) var(--space-sm);

        .menu-item__select-group {
          align-items: center;
          display: flex;

          label {
            font-size: 1.1rem;
            font-weight: bold;
            margin-right: 0.4rem;
          }

          select {
            padding: var(--space-2xs) 0;
            width: 50px;
          }
        }

        .menu-item__waiting-time {
          color: var(--color-text-muted);
          font-size: var(--font-sm);
          font-weight: bold;

          span {
            font-weight: normal;
          }
        }
      }

      .menu-item__textarea-group {
        background: var(--color-bg-dark);
        border: 1px solid var(--color-text-muted);
        border-radius: var(--radius-md);
        margin-bottom: var(--space-sm);
        padding: var(--space-xs-sm) var(--space-sm);

        summary {
          align-items: center;
          cursor: pointer;
          display: flex;
          font-weight: bold;
          gap: var(--space-xs);
        }

        textarea {
          border: 1px solid var(--color-text-muted);
          border-radius: var(--radius-sm);
          height: 60px;
          margin-top: var(--space-xs);
          padding: var(--space-xs);
          resize: none;
          width: 100%;
        }

        &[open] {
          background: var(--color-bg-light);

          &:hover {
            outline: none;
          }
        }

        &:hover {
          outline: var(--border-default);
        }
      }
    }
  }

  .menu-item--skeleton {
    border-radius: var(--radius-md);
    height: 80dvh;
    width: min(80%, 680px);
  }
}

@media screen and (width >= 920px) {
  .snackbar {
    top: 65px;
  }

  .header {
    .header__content {
      width: 95%;
    }
  }

  .main {
    margin-left: 12.5rem;
  }
}
