@import url("/styles/base.css");
@import url("/styles/form.css");
@import url("/styles/snackbar.css");

body,
html {
  color: var(--color-text);
  min-height: 100dvh;
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;

  .main-container__title {
    margin-bottom: var(--space-lg);

    h1 {
      color: var(--color-primary);
      font-size: clamp(3.5rem, 10vw, 4.5rem);
    }

    p {
      color: var(--color-text);
      font-size: var(--font-lg);
      text-align: center;
    }
  }

  .form {
    padding-bottom: 2.5rem;
    width: min(80%, 500px);
  }
}

/*---------------------*/
/*        QUERY        */
/*---------------------*/

@media screen and (width >= 799px) {
  .snackbar {
    top: 15px;
  }

  .main-container {
    flex-direction: row;
    gap: var(--space-xl);
    padding: var(--space-md);

    .form {
      margin-bottom: 1.25rem;
      padding: 0;
    }
  }
}
