@import url("/styles/base.css");
@import url("/styles/header.css");

body,
html {
  color: var(--color-text);
  height: 100dvh;
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

main.invite {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  height: calc(100dvh - 51px);
  justify-content: center;
  margin: -2.2rem auto 0;
  width: min(90%, 600px);

  .invite__intro {
    h2 {
      font-size: var(--font-2xl);
      margin-bottom: var(--space-xs);
      text-align: center;
    }

    p {
      color: var(--color-text-muted);
      font-size: var(--font-lg);
      text-align: center;
    }
  }

  .invite__code {
    max-width: fit-content;
    position: relative;
    width: 80%;

    .code-box {
      align-items: center;
      border: var(--border-default);
      display: flex;
      height: 40px;
      margin: var(--space-xs) 0;
      width: 100%;

      .code-box__value {
        overflow: hidden;
        padding: var(--space-xs-sm);
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .code-box__copy-button {
        background-color: #dfdfdf;
        border: none;
        display: flex;
        flex: 0 0 35px;
        height: 100%;
        padding: var(--space-xs);

        img {
          width: 100%;
        }

        &:hover {
          background-color: var(--color-text-muted);
        }
      }
    }

    .code-box__message {
      bottom: -12px;
      font-size: var(--font-sm);
      position: absolute;
      right: 0;
    }
  }

  .invite__separator {
    font-weight: bold;
  }

  .invite__share-button {
    width: min(100%, 322px);
  }
}

/*--------------------*/
/*     SHARE MODAL    */
/*--------------------*/

.modal-bg {
  background-color: #00000086;
  height: 100dvh;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition:
    background-color 300ms,
    opacity 300ms;
  width: 100vw;
  z-index: 900;
}

.modal-bg--hidden {
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 300ms ease,
    background-color 300ms ease 0.5s;
}

.modal {
  background-color: var(--color-bg-light);
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  bottom: 0;
  position: fixed;
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
  width: 100%;
  z-index: 999;

  .modal__close-button {
    display: none;
  }

  .modal__header {
    border-bottom: 1px solid var(--color-text-muted);
    padding: var(--space-sm-md) var(--space-md);
    position: relative;

    .modal__title {
      font-size: var(--font-lg);
      margin-bottom: var(--space-xs-sm);
    }

    .modal__link-box {
      align-items: center;
      display: flex;
      gap: var(--space-sm);

      .modal__link {
        font-size: 0.95rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .modal__copy-button {
        background-color: #fff;
        border: none;
        border-radius: var(--radius-xs);
        height: 30px;
        padding: 0.3rem;
        width: 30px;

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: 1.25rem;
        }
      }
    }

    .modal__message {
      bottom: 7px;
      font-size: var(--font-sm);
      left: 24px;
      position: absolute;
    }
  }

  .modal__apps {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: var(--space-sm-md) var(--space-md);

    .modal__app {
      display: flex;
      flex-direction: column;
      width: 6.25rem;

      .modal__app-link {
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--color-text);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        position: relative;
        text-decoration: none;

        p {
          font-size: var(--font-sm);
          text-align: center;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          transition: 100ms ease;
          width: 2.6rem;
        }

        &::after {
          background-color: var(--color-bg-dark);
          border-radius: 50%;
          content: "";
          height: 0;
          left: 50%;
          position: absolute;
          top: 71%;
          transform: translate(-50%, -50%);
          transition: 125ms ease;
          width: 0;
          z-index: -2;
        }

        &#telegramLink::before {
          background-color: #fff;
          bottom: 8px;
          content: "";
          height: 25px;
          left: 37px;
          position: absolute;
          width: 25px;
          z-index: -1;
        }

        &:hover img {
          transform: scale(1.05);
        }

        &:hover::after {
          height: 65px;
          width: 65px;
        }
      }
    }
  }
}

.modal--hidden {
  transform: translateY(100%);
}

/*--------------------*/
/*       QUERY        */
/*--------------------*/
@media screen and (width >= 550px) {
  .modal {
    border-radius: var(--radius-2xl);
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    width: min(80%, 550px);

    .modal__close-button {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 29.6px;
      padding: 0.3rem;
      position: absolute;
      right: 18px;
      top: 15px;
      z-index: 999;

      img {
        transition: 150ms;
        width: 1.25rem;
      }

      &:hover img {
        transform: rotateZ(360deg);
      }
    }
  }

  .modal--hidden {
    display: none;
  }
}
