@import url("/styles/base.css");
@import url("/styles/header.css");

body,
html {
  color: var(--color-text);
  height: 100dvh;
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

main.invite {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1.6rem;
  height: calc(100dvh - 51px);
  justify-content: center;
  margin: -2.2rem auto 0;
  width: min(90%, 600px);

  .invite__intro {
    h2 {
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      color: var(--color-text-muted);
      font-size: 1.125rem;
      text-align: center;
    }
  }

  .invite__code {
    .code-box {
      align-items: center;
      border: var(--border-default);
      display: flex;
      height: 40px;
      margin: 0.5rem 0;
      width: fit-content;

      .code-box__value {
        padding: 0.6rem;
      }

      .code-box__copy-button {
        background-color: #dfdfdf;
        border: none;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: 0.3rem;
        width: 2.2rem;

        img {
          width: 100%;
        }

        &:hover {
          background-color: #acacac;
        }
      }
    }

    .code-box__message {
      font-size: 0.9rem;
      margin-top: -0.3rem;
      text-align: end;
    }
  }

  .invite__separator {
    font-weight: bold;
  }

  .invite__share-button {
    background-color: var(--color-primary);
    border: var(--border-default);
    box-shadow: 0 0 #000;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    outline-offset: 4px;
    padding: 0.6rem 0;
    transition:
      box-shadow 150ms,
      transform 150ms;
    width: min(100%, 322px);

    &:hover {
      box-shadow: var(--shadow-button);
      transform: translateY(-2px);
    }
  }
}

/*--------------------*/
/*     SHARE MODAL    */
/*--------------------*/

.modal-bg {
  background-color: #00000086;
  height: 100dvh;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition:
    background-color 300ms,
    opacity 300ms;
  width: 100vw;
  z-index: 99;
}

.modal-bg--hidden {
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 300ms ease,
    background-color 300ms ease 0.5s;
}

.modal {
  background-color: var(--color-bg-light);
  border-radius: 1.25rem 1.25rem 0 0;
  bottom: 0;
  position: fixed;
  transform: translateY(0%);
  transition: transform 500ms ease-in-out;
  width: 100%;
  z-index: 999;

  .modal__close-button {
    display: none;
  }

  .modal__header {
    border-bottom: 1px solid var(--color-text-muted);
    margin-bottom: 1.6rem;
    padding: 1rem 1.6rem;

    .modal__title {
      font-size: 1.1rem;
      margin-bottom: 0.6rem;
    }

    .modal__link-box {
      align-items: center;
      display: flex;
      gap: 0.3rem;

      .modal__link {
        font-size: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .modal__copy-button {
        background-color: #fff;
        border: none;
        border-radius: 5%;
        cursor: pointer;
        height: 29.6px;
        padding: 0.3rem;

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          margin-bottom: 0.1rem;
          width: 1.25rem;
        }
      }
    }

    .modal__message {
      font-size: 0.9rem;
      text-align: end;
    }
  }

  .modal__apps {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0 1rem 1.25rem;

    .modal__app {
      display: flex;
      flex-direction: column;
      width: 6.25rem;

      .modal__app-link {
        align-items: center;
        background-color: transparent;
        border: none;
        color: var(--color-text);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        position: relative;
        text-decoration: none;

        p {
          font-size: 0.8rem;
          text-align: center;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        img {
          width: 2.6rem;
        }

        &#telegramLink::before {
          background-color: #fff;
          bottom: 8px;
          content: "";
          height: 25px;
          left: 37px;
          position: absolute;
          width: 25px;
          z-index: -1;
        }
      }
    }
  }
}

.modal--hidden {
  transform: translateY(100%);
}

/*--------------------*/
/*       QUERY        */
/*--------------------*/
@media screen and (width >= 550px) {
  .modal {
    border-radius: 25px;
    bottom: 50%;
    left: 50%;
    padding: 1rem 0 1.4rem;
    translate: -50% 50%;
    width: min(80%, 550px);

    .modal__close-button {
      background-color: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 29.6px;
      padding: 0.3rem;
      position: absolute;
      right: 18px;
      top: 15px;

      img {
        transition: 150ms;
        width: 1.25rem;
      }

      &:hover img {
        transform: rotateZ(360deg);
      }
    }

    .modal__header {
      padding: 1.25rem;
    }

    .modal__apps {
      padding-bottom: 1.9rem;
    }
  }

  .modal--hidden {
    display: none;
  }
}
