:root {
  --primary-color: #d81212;
  --background-color: #dfdfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  min-height: 100dvh;
}

/*--------------------*/
/*       HEADER       */
/*--------------------*/

header {
  background-color: var(--primary-color);

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    height: 100%;
  }

  h1 {
    color: #fff;
    font-size: 2rem;
  }

  .button {
    font-weight: bold;
    background-color: #fff;
    color: var(--primary-color);
    padding: 0.6rem 1rem;
    border: 2px #000 solid;
    box-shadow: 0px 0px black;
    translate: 1px 1px;
    transition:
      box-shadow 250ms,
      translate 150ms;
    outline-offset: 4px;
  }

  .button:hover {
    box-shadow: 2px 2px black;
    translate: 0px 0px;
  }
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

main.container {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0 1.5rem;

  .menuFormSection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: calc(100dvh - 51px - 37px - 40px);

    .text {
      text-align: center;
      padding: 0 1.5rem;

      h2 {
        font-size: 2.8rem;
      }

      p {
        color: #6d6d6d;
        font-size: 1.4rem;
        text-align: center;
        padding-top: 1rem;
        text-decoration: underline;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding-top: 2rem;
      width: 80%;

      .inputBox {
        position: relative;
        display: flex;
        flex-direction: column;

        input {
          font-size: 1.6rem;
          background-color: var(--background-color);
          padding: 1rem 0.7rem;
          border: none;
          outline: 2px solid rgb(50, 50, 50);
          border-radius: 3px;
        }

        input:placeholder-shown {
          border-bottom: 1.5px solid black;
          outline: none;
          border-radius: 0px;
        }

        input:focus {
          outline: 2px solid rgb(50, 50, 50);
          border-radius: 3px;
          border: none;
        }

        .inputLabel {
          position: absolute;
          top: -11px;
          left: 19px;
          width: fit-content;
          opacity: 1;
          background-color: var(--background-color);
          padding: 0 2px;
          margin-bottom: -2rem;
        }

        input:placeholder-shown + .inputLabel {
          width: fit-content;
          opacity: 0.6;
          top: 15px;
          left: 19px;
          transition:
            250ms top,
            250ms left,
            100ms opacity;
        }

        input:focus + .inputLabel {
          opacity: 1;
          top: -11px;
          left: 19px;
          background-color: var(--background-color);
          padding: 0 2px;
        }
      }

      .button {
        background-color: var(--primary-color);
        color: #fff;
        padding: 0.8rem 0;
        border: 2px #000 solid;
        box-shadow: 0px 0px black;
        translate: 1px 1px;
        transition:
          box-shadow 250ms,
          translate 150ms;
        outline-offset: 4px;
      }

      .button:hover {
        box-shadow: 2px 2px black;
        translate: 0px 0px;
      }
    }
  }

  .menuItemFormSection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .menuItemForm {
      width: 80%;

      .text {
        text-align: center;
        padding: 0 1.5rem;

        h2 {
          font-size: 2.8rem;
        }

        p {
          color: #6d6d6d;
          font-size: 1.4rem;
          text-align: center;
          padding-top: 1rem;
          text-decoration: underline;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding-top: 2rem;
        width: 100%;
        height: 70%;

        .inputBox {
          position: relative;
          display: flex;
          flex-direction: column;

          input,
          textarea {
            font-size: 1.6rem;
            background-color: var(--background-color);
            padding: 1rem 0.7rem;
            border: none;
            outline: 2px solid rgb(50, 50, 50);
            border-radius: 3px;
          }

          textarea {
            resize: none;
          }

          input:placeholder-shown {
            border-bottom: 1.5px solid black;
            outline: none;
            border-radius: 0px;
          }

          input:focus {
            outline: 2px solid rgb(50, 50, 50);
            border-radius: 3px;
            border: none;
          }

          .inputLabel {
            width: fit-content;
            opacity: 1;
            position: absolute;
            top: -11px;
            left: 19px;
            background-color: var(--background-color);
            padding: 0 2px;
            margin-bottom: -2rem;
          }

          textarea:first-child + label {
            top: -11px;
            left: 19px;
          }

          input:placeholder-shown + .inputLabel {
            width: fit-content;
            opacity: 0.6;
            top: 15px;
            left: 19px;
            transition:
              250ms top,
              250ms left,
              100ms opacity;
          }

          input:focus + .inputLabel {
            opacity: 1;
            top: -11px;
            left: 19px;
            background-color: var(--background-color);
            padding: 0 2px;
          }
        }

        .inputBox.file {
          position: relative;
          outline: 2px solid rgb(50, 50, 50);
          border-radius: 3px;

          input[type="file"] {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
          }

          .inputFileText {
            color: rgb(77, 77, 77);
            text-align: center;
            font-size: 2rem;
            padding: 2rem 0;

            span {
              font-size: 3rem;
            }
          }

          .inputLabel {
            top: -11px;
            left: 19px;
          }
        }

        .inputBox.file.changeImg {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .inputFileText {
            width: 45%;
            padding: 10px;
            margin: 0 auto;
          }

          .formImg {
            height: 115px;

            img {
              width: 115px;
              height: 115px;
            }
          }
        }

        .button {
          background-color: var(--primary-color);
          color: #fff;
          padding: 0.8rem 0;
          border: 2px #000 solid;
          box-shadow: 0px 0px black;
          translate: 1px 1px;
          transition:
            box-shadow 250ms,
            translate 150ms;
          outline-offset: 4px;
        }

        .button:hover {
          box-shadow: 2px 2px black;
          translate: 0px 0px;
        }
      }
    }

    .menuPreview {
      width: 97%;

      .menuItems {
        min-height: 100px;
        border: 2px solid black;

        > p {
          color: rgb(77, 77, 77);
          text-align: center;
          font-size: 2rem;
          padding: 2.5rem 1.5rem;
        }

        .menuItem {
          display: flex;
          border: 2px solid black;
          height: 100px;

          .itemImg {
            img {
              width: 90px;
              height: 100%;
            }
          }

          .itemInfos {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: calc(100% - 75px);
            padding: 5px;

            > :first-child {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            h4 {
              font-size: 1.4rem;
            }

            .itemPrice {
              font-size: 1.3rem;
            }

            .itemType {
              font-size: 1.15rem;
              background-color: #979797;
              padding: 2px 4px;
              border-radius: 3px;
            }

            .itemDescription {
              font-size: 1.25rem;
              text-align: justify;
              line-height: 1.25rem;
              line-break: anywhere;
            }
          }
        }
      }
    }
  }
}

main.showMenuForm .menuFormSection,
main.showMenuItemForm .menuItemFormSection {
  display: flex;
}

/*--------------------*/
/*        QUERY       */
/*--------------------*/

@media screen and (min-width: 999px) {
  header {
    position: fixed;
    width: 100%;

    div {
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
  }

  main.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 1.2rem;

    .menuItemFormSection {
      flex-direction: row;
      justify-content: flex-end;
      gap: 5%;
      padding: 2.5rem 0;
      width: 80%;

      .menuItemForm {
        position: fixed;
        top: 77px;
        left: 127px;
        width: 38%;

        .text {
          padding: 0;
        }

        form {
          padding: 0;
          width: 100%;
        }
      }

      .menuPreview {
        align-self: flex-start;
        width: 45%;
        margin-top: 50px;

        .menuItems {
          .menuItem {
            .itemInfos {
              flex-direction: row;

              > :first-child {
                flex-direction: column;
                align-items: flex-start;
                width: 25%;
              }

              .itemDescription {
                line-height: normal;
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}
