@import url("/styles/base.css");
@import url("/styles/header.css");
@import url("/styles/navbar.css");
@import url("/styles/snackbar.css");

body {
  color: var(--color-text);
}

.header {
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

/*********************/
/*       MENUS       */
/*********************/

.main {
  align-items: center;
  display: grid;
  margin-top: 3.15rem;
  min-height: calc(100dvh - 50px);

  .menus {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin: 0 auto;
    padding: var(--space-lg) var(--space-sm-md);
    width: min(90%, 520px);

    > p {
      font-size: var(--font-xl);
      font-weight: bold;
      text-align: center;
    }

    .menu-card {
      align-items: center;
      background-color: var(--color-bg-light);
      border-radius: var(--radius-md);
      color: var(--color-text);
      display: flex;
      height: 90px;
      min-width: 200px;
      overflow: hidden;
      transition: 200ms ease-in-out;
      width: 100%;

      .menu-card__img {
        height: 100%;
        min-width: 70px;
        width: 30%;

        img {
          border-radius: var(--radius-md) 0 0 var(--radius-md);
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .menu-card__infos {
        align-items: center;
        display: grid;
        padding: var(--space-sm);
        text-align: center;
        width: 70%;

        .menu-card__name {
          -webkit-box-orient: vertical;
          display: -webkit-box;
          font-size: clamp(var(--font-md), 5vw, var(--font-xl));
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:hover {
        transform: scale(1.025);
      }
    }

    .menu-card-skeleton {
      border-radius: var(--radius-md);
      height: 90px;
      width: 100%;
    }
  }
}

@media screen and (width >= 920px) {
  .snackbar {
    top: 65px;
  }

  .header {
    .header__content {
      width: 95%;
    }
  }

  .main {
    margin-left: 12.5rem;
  }
}
