@import url("/styles/base.css");

body {
  align-items: center;
  background: var(--color-bg-dark);
  color: var(--color-text);
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

.main {
  width: clamp(560px, 80%, 740px);

  .header {
    align-items: center;
    display: flex;
    gap: var(--space-sm-md);
    margin-bottom: var(--space-lg);

    .icon {
      background: #d8121221;
      border: 1px solid var(--color-bg-light);
      border-radius: var(--radius-md);
      display: grid;
      flex: 0 0 auto;
      height: 72px;
      place-items: center;
      width: 72px;

      svg {
        color: #e50914;
        height: 100%;
        width: 100%;
      }
    }

    .title {
      font-size: var(--font-4xl);
      font-weight: 800;
      line-height: 1.2;
    }

    .subtitle {
      color: var(--color-text-muted);
      margin-top: var(--space-2xs);
    }
  }

  .notice {
    background-color: var(--color-bg-light);
    border: 1px dashed var(--color-text-muted);
    border-radius: var(--radius-md);
    font-size: var(--font-md);
    line-height: 1.45;
    margin: var(--space-sm-md) 0 var(--space-md);
    padding: var(--space-sm) var(--space-sm-md);
  }

  .actions {
    display: flex;
    gap: var(--space-sm);

    .btn {
      flex: 1;
      text-align: center;
    }
  }
}
