@import url("/styles/base.css");
@import url("/styles/header.css");
@import url("/styles/form.css");
@import url("/styles/snackbar.css");
@import url("/styles/confirm-modal.css");

body,
html {
  color: var(--color-text);
  min-height: 100dvh;
}

/*--------------------*/
/*        MAIN        */
/*--------------------*/

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm-md);
  justify-content: center;
  padding-bottom: var(--space-sm);

  .main__form-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm-md);
    justify-content: center;
    margin-bottom: var(--space-sm-md);

    .form-section__text {
      padding: var(--space-xl) var(--space-sm-md) 0;
      text-align: center;

      h2 {
        font-size: var(--font-2xl);
        margin-bottom: var(--space-xs-sm);
      }

      button {
        background-color: transparent;
        border: none;
        color: var(--color-text-muted);
        cursor: pointer;
        font-size: var(--font-sm);
        text-align: center;

        &:hover {
          color: var(--color-text);
        }
      }
    }

    .form {
      width: 90%;
    }

    .form-section__role-box {
      background-color: var(--color-bg-light);
      border: var(--border-default);
      border-radius: var(--radius-md);
      color: var(--color-text);
      font-size: 0.95rem;
      letter-spacing: 0.5px;
      line-height: 20px;
      padding: var(--space-xs-sm);
      text-align: justify;
    }
  }
}

/*---------------------*/
/*        TABLE        */
/*---------------------*/

.main__employees {
  width: 80%;

  table {
    border: var(--border-width) solid rgb(140 140 140);
    border-collapse: collapse;
    font-size: var(--font-sm);
    letter-spacing: 1px;
    line-break: anywhere;
    margin: 0 auto;
    text-align: center;
    text-wrap-mode: wrap;
    width: 100%;

    caption {
      font-size: var(--font-md);
      font-weight: bold;
      margin-bottom: var(--space-xs);
      text-align: start;
    }

    thead {
      background-color: var(--color-primary);
      color: #fff;
    }

    th,
    td {
      border: 1px solid var(--color-text-muted);
      padding: var(--space-xs-sm);
    }

    tr {
      td {
        background-color: var(--color-bg-light);
      }

      td:last-child div {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
      }

      > :last-child {
        min-width: 170px;
        position: relative;
      }
    }

    .remove-button {
      align-items: center;
      background-color: #dadada;
      border: none;
      border-radius: 50%;
      display: flex;
      height: 35px;
      justify-content: center;
      position: absolute;
      right: 15px;
      transition: 250ms ease;
      width: 35px;

      img {
        width: 60%;
      }

      &:hover {
        background-color: #a3a3a3;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

/*--------------------*/
/*        QUERY       */
/*--------------------*/

@media screen and (width <= 600px) {
  .main {
    .main__employees {
      table {
        tr {
          td:last-child div {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media screen and (width >= 980px) {
  .modal {
    div {
      justify-content: flex-end;
    }
  }

  .header {
    div {
      width: min(90%, 1000px);
    }
  }

  .main {
    margin: 0 auto;
    min-height: 92.5%;
    width: min(90%, 1000px);

    .main__form-section {
      flex-direction: row-reverse;
      gap: 5rem;
      height: 80dvh;
      margin-bottom: 0;
      padding: var(--space-md);

      .form-section__text {
        padding: 0;
      }

      .form {
        padding: 0;
        width: 80%;
      }
    }
  }
}
