:root {
  --primary-color: #d81212;
  --background-color: #dfdfdf;
  --text-color: #000;
  --link-color: #5f5f5f;
  --button-shadow: 0 2px #181818;
  --scroll-bar-color: #aaa #f0f0f0;
  --bg-light: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #e50914;
    --background-color: #201e1e;
    --text-color: #dadada;
    --link-color: #a5a5a5;
    --button-shadow: 0 2px #afafaf;
    --scroll-bar-color: #555 #222;
    --bg-light: #333;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  scrollbar-color: var(--scroll-bar-color);
}
