@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  /* COLORS */
  --color-primary-light: #f29a9a;
  --color-primary: #d81212;
  --color-primary-transparent: #d8121273;
  --color-primary-dark: #720000;
  --color-bg-dark: #dfdfdf;
  --color-bg-light: #fff;
  --color-text: #000;
  --color-text-muted: #5f5f5f;
  --color-skeleton-bg: #ededed;
  --color-skeleton-shine: #fff;

  /* EFFECTS */
  --shadow-button: 0 2px #181818;

  /* BORDERS */
  --border-width: 2px;
  --border-default: var(--border-width) solid var(--color-text);

  /* BORDER-RADIUS */
  --radius-xs: 3px;
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xl: 20px;
  --radius-2xl: 25px;

  /* SPACING */
  --space-2xs: 0.2rem;
  --space-xs: 0.4rem;
  --space-xs-sm: 0.6rem;
  --space-sm: 0.8rem;
  --space-sm-md: 1.2rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* TYPOGRAPHI */
  --font-family: "Inter", arial, helvetica, sans-serif;
  --font-base: 16px;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 1.75rem;
  --font-3xl: 2rem;
  --font-4xl: 2.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    --color-primary-light: #f26767;
    --color-primary: #e50914;
    --color-primary-transparent: #e5091473;
    --color-primary-dark: #930c0c;
    --color-bg-dark: #201e1e;
    --color-bg-light: #333;
    --color-text: #dadada;
    --color-text-muted: #a5a5a5;
    --color-skeleton-bg: #333;
    --color-skeleton-shine: #505050;

    /* SHADOWS */
    --shadow-button: 0 2px #afafaf;

    /* BORDERS */
    --border-default: var(--border-width) solid var(--color-text);
  }

  .invert {
    filter: invert(1);
  }
}

/*----------------*/
/*      RESET     */
/*----------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-bg-dark);
  font-family: var(--font-family);
  font-size: var(--font-base);
}

a {
  color: var(--color-text-muted);
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

select {
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text);
  color: var(--color-text);
  cursor: pointer;
}

/*-------------------*/
/*      BUTTONS      */
/*-------------------*/

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn {
  color: #fff;
  font-weight: bold;
  outline-offset: 4px;
  padding: var(--space-sm) var(--space-md);
  transition:
    box-shadow 150ms,
    transform 150ms;

  &:hover {
    box-shadow: var(--shadow-button);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0;
    transform: translateY(0);
  }

  &.primary-btn {
    background-color: var(--color-primary);
    border: var(--border-default);
    color: #fff;
  }

  &.ghost-btn {
    background-color: var(--color-bg-light);
    border: var(--border-default);
  }
}

/*--------------------*/
/*      SKELETON      */
/*--------------------*/

.skeleton {
  animation: skeleton-shine 2.5s infinite;
  background: linear-gradient(
    120deg,
    var(--color-skeleton-bg) 40%,
    var(--color-skeleton-shine) 50%,
    var(--color-skeleton-bg) 60%
  );
  background-size: 200% 100%;
}

@keyframes skeleton-shine {
  0% {
    background-position: 150% 0;
  }

  100% {
    background-position: -50% 0;
  }
}
