.modal-bg {
  backdrop-filter: blur(5px);
  background-color: #00000063;
  height: 100dvh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal {
  background-color: var(--color-bg-dark);
  border: var(--border-default);
  border-radius: var(--radius-lg);
  font-size: 1.125rem;
  left: 50%;
  padding: var(--space-md);
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(90%, 505px);
  z-index: 9999;

  div {
    display: flex;
    gap: var(--space-sm);
    justify-content: center;
    margin-top: var(--space-md);

    button {
      border-radius: var(--radius-lg);
      color: var(--color-text);
      padding: var(--space-sm);
      transition:
        box-shadow 150ms,
        transform 150ms;
    }
  }
}
