.modal-background {
  backdrop-filter: blur(5px);
  background-color: #00000063;
  height: 100dvh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &.modal-background--hidden {
    display: none;
  }
}

.modal {
  background-color: var(--color-bg-dark);
  border: var(--border-default);
  border-radius: 15px;
  font-size: 1.2rem;
  left: 50%;
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(98%, 535px);
  z-index: 1;

  &.modal--hidden {
    display: none;
  }

  div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;

    button {
      border: var(--border-default);
      border-radius: 15px;
      color: var(--color-text);
      cursor: pointer;
      font-weight: bold;
      padding: 0.8rem;
      transition:
        box-shadow 150ms,
        transform 150ms;
    }

    .modal__cancel-button {
      background-color: var(--color-bg-dark);

      &:hover {
        box-shadow: var(--shadow-button);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 0 0;
        transform: translateY(0);
      }
    }

    .modal__continue-button {
      background-color: var(--color-primary);
      color: #fff;

      &:hover {
        box-shadow: var(--shadow-button);
        transform: translateY(-2px);
      }

      &:active {
        box-shadow: 0 0;
        transform: translateY(0);
      }
    }
  }
}
