.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: center;
  padding-top: var(--space-sm-md);
  width: 100%;

  .form__label {
    background-color: var(--color-bg-dark);
    left: 19px;
    margin-bottom: -2rem;
    opacity: 1;
    padding: 0 0.2rem;
    position: absolute;
    top: -11px;
    width: fit-content;
  }

  .form__input-group {
    display: flex;
    flex-direction: column;
    position: relative;

    .form__input {
      background-color: var(--color-bg-dark);
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: var(--radius-sm);
      color: var(--color-text);
      font-size: var(--font-md);
      outline: 2px solid var(--color-text);
      padding: 0.625rem 0.5rem;

      &:placeholder-shown {
        border-bottom: 1px solid var(--color-text);
        border-radius: 0;
        outline: none;
      }

      &:focus {
        border-bottom-color: transparent;
        border-radius: var(--radius-sm);
        outline: 2px solid var(--color-text);
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0 30px var(--color-bg-dark) inset !important;
        -webkit-text-fill-color: var(--color-text) !important;
      }
    }

    .form__textarea {
      background-color: var(--color-bg-dark);
      border: var(--border-default);
      border-radius: var(--radius-sm);
      color: var(--color-text);
      font-size: var(--font-md);
      padding: 0.625rem 0.5rem;
      resize: none;
    }

    .form__select {
      background-color: var(--color-bg-light);
      border: var(--border-default);
      color: var(--color-text);
      font-size: var(--font-md);
      margin-top: var(--space-xs);
      padding: var(--space-xs);
    }

    .form__label {
      .form__input:placeholder-shown + & {
        left: 19px;
        opacity: 0.6;
        top: 15px;
        transition:
          250ms top,
          250ms left,
          100ms opacity;
        width: fit-content;
      }

      .form__input:focus + & {
        background-color: var(--color-bg-dark);
        left: 19px;
        opacity: 1;
        top: -11px;
      }
    }
  }

  .form__price-input-group .form__price-wrapper {
    align-items: center;
    border: var(--border-default);
    border-radius: var(--radius-sm);
    display: flex;

    .form__price-prefix {
      padding-left: 0.5rem;
    }

    .form__input {
      background-color: transparent;
      border-radius: 0;
      outline: none;
      width: 100%;
    }
  }

  .form__file-input-group {
    border: var(--border-default);
    border-radius: var(--radius-sm);
    position: relative;

    .form__file-input {
      cursor: pointer;
      height: 100%;
      opacity: 0;
      position: absolute;
      width: 100%;
    }

    .form__file-input-text {
      color: var(--color-text);
      font-size: var(--font-lg);
      padding: var(--space-sm-md) var(--space-2xs);
      text-align: center;

      span {
        font-size: 3rem;
      }
    }

    .file-input__image {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        height: 115px;
        width: 115px;
      }
    }
  }

  .form__btn {
    align-items: center;
    display: flex;
    gap: var(--space-xs);
    justify-content: center;

    .loading {
      display: none;
    }

    &.form__btn--loading {
      .loading {
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-name: loading;
        animation-timing-function: linear;
        background-color: transparent;
        border: 3px solid #ffffffa2;
        border-left-color: #ffffff38;
        border-radius: 50%;
        display: block;
        height: 20px;
        width: 20px;
      }
    }
  }
}
