.snackbar {
  bottom: 15px;
  color: #fff;
  left: 50%;
  opacity: 1;
  padding: var(--space-xs) var(--space-sm);
  position: fixed;
  transform: translateX(-50%);
  transition: 500ms ease;
  width: max-content;
  z-index: 9999;

  &.snackbar--warn {
    background-color: #8b8710;
    border: 1px solid #fe0;
  }

  &.snackbar--error {
    background-color: #520000;
    border: 1px solid #ff3939;
  }

  &.snackbar--hidden {
    opacity: 0;
    transform: translate(250px, 0);
  }
}

@media screen and (width >= 799px) {
  .snackbar {
    bottom: unset;
    left: unset;
    right: 15px;
    top: 75px;
    transform: translateX(0);

    &.hidden {
      transform: translate(250px, 0);
    }
  }
}
